button{
    background-color:rgba(0,120,200,0.7);
    padding:20px 50px;
    border-radius:30px;
    color:white;
    font-size:20px;
    display:flex;
    flex-direction: column;
    margin:50px auto;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.99) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.press{
    background-color:pink;
    color:black;
}
